*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
.header {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 45%;
    height: auto;
}.nav {
    width: 45%;
    height: auto;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    text-align: center;
}

li{
    display: inline;
    border: 2px solid orange;
    padding: 5px;
    border-radius: 10px;
}

li a {
    display: inline;
    color: orange;
    text-align: center;
    padding: 5px 17px;
    text-decoration: none;
    border-radius: 10px;
}

li a:hover {
    background-color:indigo;
    transition: 1.5s;
}
button {
    background-color: transparent;
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: orange;
    border: none;
    transition: 1.5s;
}
.main {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #0e0328;
}
h1 {
    font-size: 40px;
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}
.box1 {
    width: 45%;
    height: auto;
    margin: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-left: 5px solid orange;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #000000;
}
.box2 {
    width: 25%;
    height: 100px;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px orange
}
.box3 {
    width: 90%;
    height: auto;
    margin: 20px;
}
.box4 {
    width: 45%;
    height: auto;
    margin: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box5{
    width: 45%;
    height: auto;
    margin: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-left: 5px solid orange;
    border-radius: 10px;
}
.projectsPictures{
    width: 45%;
    height: auto;
    margin: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-left: 5px solid orange;
    box-shadow: 0px 0px 8px #000000;
    border-radius: 10px;
}
footer{
    height: 100%;
    width: auto;
    background-color:rgba(0, 0, 0, 0.8);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.skillsContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image:  url("keyboard.jpg");
}
.projectsContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.projectsBox {
    width: 100%;
    height: auto;
    margin: 30px;
}
.projectsContentBox {
    width: 100%;
    height: auto;
    margin-left: 30px;
    padding-left: 30px;
    border-left: 5px solid orange;
    border-radius: 10px;
    margin-bottom: 20px;
}
.slideshow-container {
    position: relative;
    width: 100%;
}

.slideshow-images img {
    display: none;
    width: 100%;
    height: auto;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.slideshow{
    width: 45%;
    height: 400px;
    margin: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-left: 5px solid orange;
    border-radius: 10px;
    box-shadow: 0px 1px 5px orange;
}
.contactContainer{
    width: 45%;
    height: 400px;
    margin: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0px 1px 5px orange;
}
a{
    color:ghostwhite;
    text-decoration: none;
}

input {
    border: none;
    background-color: transparent;
    padding: 10px;
    border: 1px solid orange;
    width: 97%;
    color: orange;
    border-radius: 3px;
}
label{
    color: orange;
}

textarea {
    width: 100%;
    border-radius: 3px;
    resize: none;
    color: orange;
    background-color: transparent;
    border: 1px solid orange;
}

input[type="submit"] {
    color: white;
    background-color: orange;
    cursor: pointer;
}
.fa {
    font-size: 180%;
}

.fa2 {
    color: orange;
    font-size: 280%;
}
i{
    margin-top: 20px;
    font-size: 200%;
    color: orange;
}.footerbox {
    width: 20%;
    height: 150px;
    padding: 10px;
    letter-spacing: 2PX;
    border-radius: 3px;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0px 0px 5px #000000;
    overflow: hidden;

}