*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
.header {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 45%;
    height: auto;
}.nav {
    width: 45%;
    height: auto;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    text-align: center;
}

li{
    display: inline;
    border: 2px solid orange;
    padding: 5px;
    border-radius: 10px;
}

li a {
    display: inline;
    color: orange;
    text-align: center;
    padding: 5px 17px;
    text-decoration: none;
    border-radius: 10px;
}

.nav :hover {
    background-color:indigo;
}
.IconContainer{
    width: 45%;
    height: auto;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    text-align: center;
}
button {
    background-color: transparent;
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: orange;
    border: none;
    transition: 1.5s;
}
.main {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #0e0328;
}
h1 {
    font-size: 40px;
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}
.box1 {
    width: 45%;
    height: auto;
    margin: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-left: 5px solid orange;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #000000;
}
.box2 {
    width: 25%;
    height: 100px;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px orange;
    background-color:#0e0328;
    opacity: 0.8;
}
.box3 {
    width: 90%;
    height: auto;
    margin: 20px;
}
.box4 {
    width: 45%;
    height: auto;
    margin: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box5{
    width: 45%;
    height: auto;
    margin: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-left: 5px solid orange;
    border-radius: 10px;
}
.projectsPictures{
    width: 45%;
    height: auto;
    margin: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-left: 5px solid orange;
    box-shadow: 0px 0px 8px #000000;
    border-radius: 10px;
}
footer{
    height: 100%;
    width: auto;
    background-color:rgba(0, 0, 0, 0.8);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.skillsContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image:  url("keyboard.jpg");
}
.projectsContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.projectsBox {
    width: 100%;
    height: auto;
    margin: 30px;
}
.projectsContentBox {
    width: 100%;
    height: auto;
    margin-left: 30px;
    padding-left: 30px;
    border-left: 5px solid orange;
    border-radius: 10px;
    margin-bottom: 20px;
}
.skillsDec{
    width: 95%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    box-shadow: 0px 0px 5px #000000;
}

.con_pic{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.con_dis{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pictureBox{
    width: 45%;
    height: 450px;
    margin: 30px;
    box-shadow: 0px 0px 8px #000000;
    border-radius: 10px;
} 
.pictureBox2{
    width: 100%;
    height: 450px;
    margin: 30px;
    box-shadow: 0px 0px 8px #000000;
    border-radius: 10px;
} 
.pictureBox:hover {
    box-shadow: 0px 0px 8px orange;
}
.pictureBox2:hover {
    box-shadow: 0px 0px 8px orange;
}
.desc {
    padding: 15px;
    text-align: center;
  }
.slideshow-container {
    position: relative;
    width: 100%;
}

.slideshow-images img {
    display: none;
    width: 100%;
    height: auto;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.slideshow{
    width: 45%;
    height: 450px;
    margin: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0px 1px 5px #000000;
}
.contactContainer{
    width: 45%;
    height: 450px;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #000000;
}
.contact{
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px 8px #000000;
    padding: 20px;
    margin-bottom: 20px;
}
a{
    color:ghostwhite;
    text-decoration: none;
}

input {
    border: none;
    background-color: transparent;
    padding: 10px;
    border: 1px solid orange;
    width: 97%;
    color: orange;
    border-radius: 3px;
}
label{
    color: orange;
}

textarea {
    width: 100%;
    border-radius: 3px;
    resize: none;
    color: orange;
    background-color: transparent;
    border: 1px solid orange;
}

input[type="submit"] {
    color: white;
    background-color: orange;
    cursor: pointer;
}
.fa {
    font-size: 180%;
}

.fa2 {
    color: orange;
    font-size: 280%;
}
i{
    margin-top: 20px;
    font-size: 200%;
    color: orange;
}.footerbox {
    width: 20%;
    height: 150px;
    padding: 10px;
    letter-spacing: 2PX;
    border-radius: 3px;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0px 0px 5px #000000;
    overflow: hidden;

}
.progressBarsContainer{
    width: 95%;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
    box-shadow: 0px 0px 5px #000000;
}
.skillsBox{
    width: 20%;
    height: 150px;
    margin: 20px;
    border-radius: 10px;
    position:relative;
}
.skillsPicture{
    width: 60%;
    height: 100px;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #000000;
}
.skillsDescription{
    width: 95%;
    height: 70px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #000000;
}
.outer{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
               -6px -6px 10px -1px #000000;
}
.inner{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px #000000,
                -0.5px -0.5px 0px #000000,
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}
#number{
    font-weight: 600;
    color: orange;
}
#number1{
    font-weight: 600;
    color: orange;
}
#number2{
    font-weight: 600;
    color: orange;
}
#number3{
    font-weight: 600;
    color: orange;
}
#number4{
    font-weight: 600;
    color: orange;
}
#number5{
    font-weight: 600;
    color: orange;
}
#number6{
    font-weight: 600;
    color: orange;
}
#number7{
    font-weight: 600;
    color: orange;
}
#number8{
    font-weight: 600;
    color: orange;
}
circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 372;
    stroke-dashoffset: 372;
    animation: anim 2s linear forwards;
}
.circle1{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 372;
    stroke-dashoffset: 372;
    animation: anim1 2s linear forwards;
}
.circle2{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 372;
    stroke-dashoffset: 372;
    animation: anim2 2s linear forwards;
}
.circle3{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 372;
    stroke-dashoffset: 372;
    animation: anim3 2s linear forwards;
}
.circle4{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 372;
    stroke-dashoffset: 372;
    animation: anim4 2s linear forwards;
}
.circle5{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 372;
    stroke-dashoffset: 372;
    animation: anim5 2s linear forwards;
}
.circle6{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 372;
    stroke-dashoffset: 372;
    animation: anim6 2s linear forwards;
}
.circle7{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 372;
    stroke-dashoffset: 372;
    animation: anim7 2s linear forwards;
}
.circle8{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 372;
    stroke-dashoffset: 372;
    animation: anim8 2s linear forwards;
}
svg{
    position: absolute;
    top: 0;
    left: 0;
}
@keyframes anim{
    100%{
        stroke-dashoffset: 298;
    }

}
@keyframes anim1{
    100%{
        stroke-dashoffset: 279;
    }

}
@keyframes anim2{
    100%{
        stroke-dashoffset: 130;
    }

}
@keyframes anim3{
    100%{
        stroke-dashoffset: 167;
    }

}
@keyframes anim4{
    100%{
        stroke-dashoffset: 93;
    }

}
@keyframes anim5{
    100%{
        stroke-dashoffset: 167;
    }

}
@keyframes anim6{
    100%{
        stroke-dashoffset: 241;
    }

}
@keyframes anim7{
    100%{
        stroke-dashoffset: 186;
    }

}